swagger: "2.0"
info:
  version: 1.1.0
  title: IO Functions CGN
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    Documentation of the IO Function API here.
host: api.cd.italia.it
basePath: "/api/v1"
schemes:
  - https
security:
  - ApiKey: []
paths:
  "/cgn/status/{fiscalcode}":
    get:
      summary: Get CGN details Status
      operationId: getCgnStatus
      description: |
        Get the CGN status details by the provided fiscal code. 
        In case of success the response could be one of:
          - CgnPendingStatus
          - CgnActivatedStatus
          - CgnRevokedStatus
          - CgnCanceledStatus
      parameters:
        - $ref: "#/parameters/FiscalCode"
      responses:
        "200":
          description: CGN status details.
          schema:
            $ref: "#/definitions/CgnStatus"
        "401":
          description: Wrong or missing function key.
        "404":
          description: No CGN found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
    post:
      operationId: upsertCgnStatus
      summary: |
        Upsert a CGN status
      description: |
        Upsert the status of a CGN. There are 2 accepted actions:
        -  REVOKE
      parameters:
        - $ref: "#/parameters/FiscalCode"
        - in: body
          name: body
          schema:
            $ref: "#/definitions/CgnStatusUpsertRequest"
      responses:
        "201":
          description: Request created.
          schema:
            $ref: "#/definitions/InstanceId"
          headers:
            Location:
              type: string
              description: |-
                Location (URL) of created request resource.
                A GET request to this URL returns the request status and details.
        "202":
          description: Processing request.
          schema:
            $ref: "#/definitions/InstanceId"
        "401":
          description: Wrong or missing function key.
        "403":
          description: Forbidden.
        "404":
          description: No CGN found.
        "409":
          description: |
            Cannot revoke the user's cgn because another updateCgn request was found
            for this user
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"

  "/cgn/{fiscalcode}/activation":
    post:
      operationId: startCgnActivation
      summary: |
        Start a new CGN activation process
      description: |
        Start an activation process for a CGN
      parameters:
        - $ref: "#/parameters/FiscalCode"
      responses:
        "201":
            description: Request created.
            schema:
              $ref: "#/definitions/InstanceId"
            headers:
              Location:
                type: string
                description: |-
                  Location (URL) of created request resource.
                  A GET request to this URL returns the request status and details.
        "202":
          description: Processing request.
          schema:
            $ref: "#/definitions/InstanceId"
        "401":
          description: Wrong or missing function key.
        "403":
          description: Forbidden.
        "409":
          description: |
            Cannot start a new activation because the user's cgn is already activated
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
consumes:
  - application/json
produces:
  - application/json
parameters:
  FiscalCode:
    name: fiscalcode
    in: path
    type: string
    maxLength: 16
    minLength: 16
    required: true
    description: The fiscal code of the user, all upper case.
    pattern: "[A-Z]{6}[0-9LMNPQRSTUV]{2}[ABCDEHLMPRST][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"
    x-example: SPNDNL80R13C555X

securityDefinitions:
  ApiKey:
    type: apiKey
    name: X-Functions-Key
    in: header
    description: The API key to access this function app.

definitions:
  Timestamp:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v17.3.0/openapi/definitions.yaml#/Timestamp"
  FiscalCode:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v17.3.0/openapi/definitions.yaml#/FiscalCode"
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v17.3.0/openapi/definitions.yaml#/ProblemJson"

  CgnPendingStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - PENDING
    required:
      - status
  CgnActivatedStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - ACTIVATED
      activation_date:
        $ref: "#/definitions/Timestamp"
      expiration_date:
        $ref: "#/definitions/Timestamp"
    required:
      - status
      - activation_date
      - expiration_date
  CgnRevokedStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - REVOKED
      revocation_date:
        $ref: "#/definitions/Timestamp"
      revocation_reason:
        type: string
        minLength: 1
    required:
      - status
      - revocation_date
      - revocation_reason
  CgnExpiredStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - EXPIRED
    required:
      - status
  CgnStatus:
    x-one-of: true
    allOf:
      - $ref: "#/definitions/CgnPendingStatus"
      - $ref: "#/definitions/CgnActivatedStatus"
      - $ref: "#/definitions/CgnRevokedStatus"
      - $ref: "#/definitions/CgnExpiredStatus"
    x-example: 
      status: ACTIVATED
      activation_date: "2021-10-13T00:00:00.000Z"
      expiration_date: "2030-10-13T00:00:00.000Z"
  CgnStatusActivationRequest:
    type: object
    properties:
      action:
        type: string
        x-extensible-enum:
          - ACTIVATE
    required:
      - action
  CgnStatusRevocationRequest:
    type: object
    properties:
      action:
        type: string
        x-extensible-enum:
          - REVOKE
      revocation_reason:
        type: string
        minLength: 1
    required:
      - action
      - revocation_reason
  CgnStatusUpsertRequest:
    x-one-of: true
    allOf:
      - $ref: "#/definitions/CgnStatusRevocationRequest"
      - $ref: "#/definitions/CgnStatusActivationRequest"
      
  InstanceId:
    type: object
    properties:
      id:
        type: string
        minLength: 1
        description: The identifier of the created request.
    required:
      - id
    

      
