swagger: "2.0"
info:
  version: 1.1.0
  title: IO Functions CGN
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    Documentation of the IO Function API here.
host: api.cd.italia.it
basePath: "/template"
schemes:
  - https
paths:
  "/echo/{input}":
    get:
      operationId: echo
      summary: Echo API
      description: An echo API to check input
      responses:
        "200":
          description: Found.
        "401":
          description: Unauthorized
        "404":
          description: Not found.
      parameters: []
definitions:
  Timestamp:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/Timestamp"
  FiscalCode:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/FiscalCode"
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/ProblemJson"

  CgnPendingStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - PENDING
    required:
      - status
  CgnActivatedStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - ACTIVATED
    required:
      - status
  CgnRevokedStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - REVOKED
    required:
      - status
  CgnCanceledStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - CANCELED
    required:
      - status
  CgnStatus:
    x-one-of: true
    allOf:
      - $ref: "#/definitions/CgnPendingStatus"
      - $ref: "#/definitions/CgnActivatedStatus"
      - $ref: "#/definitions/CgnRevokedStatus"
      - $ref: "#/definitions/CgnCanceledStatus"
