swagger: "2.0"
info:
  version: 1.1.0
  title: IO Function API
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    Documentation of the IO Function API here.
host: api.cd.italia.it
basePath: "/template"
schemes:
  - https
paths:
  "/echo/{input}":
    parameters:
      - name: input
        in: path
        type: string
        required: true
        description: test input.
    get:
      operationId: echo
      summary: Echo API
      description: Some API description here.
      responses:
        "200":
          description: Found.
          schema:
            "$ref": "#/definitions/Input"
          examples:
            application/json:
              id: "10000AAAA"
              output: "hello world !"
        "401":
          description: Unauthorized
        "404":
          description: Not found.
      parameters: []
definitions:
  Timestamp:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/Timestamp"
  FiscalCode:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/FiscalCode"
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/ProblemJson"

  Input:
    type: object
    properties:
      id:
        type: string
      output:
        type: string
  CgnPendingStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - PENDING
    required:
      - status
  CgnActivatedStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - ACTIVATED
      activation_date:
        $ref: "#/definitions/Timestamp"
      expiration_date:
        $ref: "#/definitions/Timestamp"
    required:
      - status
  CgnRevokedStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - REVOKED
      revokation_date:
        $ref: "#/definitions/Timestamp"
      motivation:
        type: string
    required:
      - status
      - revokation_date
      - motivation
  CgnCanceledStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - CANCELED
    required:
      - status
  CgnStatus:
    x-one-of: true
    allOf:
      - $ref: "#/definitions/CgnPendingStatus"
      - $ref: "#/definitions/CgnActivatedStatus"
      - $ref: "#/definitions/CgnRevokedStatus"
      - $ref: "#/definitions/CgnCanceledStatus"
