swagger: "2.0"
info:
  version: 1.1.0
  title: IO Functions CGN
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    Documentation of the IO Function API here.
host: api.cd.italia.it
basePath: "/api/v1"
schemes:
  - https
security:
  - ApiKey: []
paths:
  "/cgn/status/{fiscalcode}":
    get:
      operationId: getCgnStatus
      summary: |
        Get the CGN status details 
        by the provided fiscal code
      parameters:
        - $ref: "#/parameters/FiscalCode"
      responses:
        "200":
          description: CGN status details.
          schema:
            $ref: "#/definitions/CgnStatus"
        "401":
          description: Wrong or missing function key.
        "404":
          description: No CGN found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
consumes:
  - application/json
produces:
  - application/json
parameters:
  FiscalCode:
    name: fiscalcode
    in: path
    type: string
    maxLength: 16
    minLength: 16
    required: true
    description: The fiscal code of the user, all upper case.
    pattern: "[A-Z]{6}[0-9LMNPQRSTUV]{2}[ABCDEHLMPRST][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"
    x-example: SPNDNL80R13C555X

securityDefinitions:
  ApiKey:
    type: apiKey
    name: X-Functions-Key
    in: header
    description: The API key to access this function app.

definitions:
  Timestamp:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v17.3.0/openapi/definitions.yaml#/Timestamp"
  FiscalCode:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v17.3.0/openapi/definitions.yaml#/FiscalCode"
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v17.3.0/openapi/definitions.yaml#/ProblemJson"

  CgnPendingStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - PENDING
    required:
      - status
  CgnActivatedStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - ACTIVATED
    required:
      - status
  CgnRevokedStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - REVOKED
    required:
      - status
  CgnCanceledStatus:
    type: object
    properties:
      status:
        type: string
        x-extensible-enum:
          - CANCELED
    required:
      - status
  CgnStatus:
    x-one-of: true
    allOf:
      - $ref: "#/definitions/CgnPendingStatus"
      - $ref: "#/definitions/CgnActivatedStatus"
      - $ref: "#/definitions/CgnRevokedStatus"
      - $ref: "#/definitions/CgnCanceledStatus"

      
